body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1e1e1e;
    font-family: Arial;
}

.calculadora {
    background: #333;
    padding: 20px;
    border-radius: 10px;
}